
.preview {
  p {
    line-height: 1.6;
    font-style: normal;
    color: rgb(59, 69, 78);
    font-size: 16px;
    word-break:break-all;
    img{
      max-width: 100%;
    }
  }
  code{
    margin: 0 2px;
    padding: 2px 6px;
    border-radius: 6px;
    background-color: #eeeeee;
    display: inline;
    vertical-align: bottom;
    line-height: 1.5;
    word-break:break-all;
  }
  em{
    color: #807e7e;
  }


  pre {
    code{
      background-color: transparent;
    }
    padding: 0.75rem 0.15rem 0.75rem 0.8rem;
    background-color: #183055 !important;
    color: #f8f8f2 !important;
    border: none;
    border-radius: 6px;

    & > code {
      line-height: 1.55rem;
    }
  }
  h1,h2,h3,h4,h5,h6{
    font-weight: bold;
  }
  h1{
    font-size: 2em;
  }
  table{
    margin: 10px 0;
    tr{
      &:nth-child(2n){
        background-color:#f5f7f9
      }
      th{
        text-align:center;
        font-weight:bold;
        border:1px solid #dfe2e5;
        margin:0;
        padding:6px 13px;
      }
      td{
        border:1px solid #dfe2e5;
        margin:0;
        padding:6px 13px;
      }
    }
    thead{
      background-color:#f5f7f9
    }
  }
  ul {
    list-style-type:disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
  }
  li{
    color: rgb(59, 69, 78);
  }
  a{
    word-break:break-all;
  }

}
